﻿<h3>How to use</h3>

<p>Neck exercises are a common part of almost any treatment program for neck pain. </p>

<p>Just simply click 'Start Workout' button and follow instructions on the screen, the entire session took only 6-7 minutes. </p>

<p>Remember to move gently and smoothly through each exercise. Never make any sudden movements or jerk your neck. Twisting and turning your neck is done in the neck rotation exercise. Also, stop if any exercise increases your neck pain.</p>

<h3>Disclaimer</h3>

<p> The content of this app is for reference purposes and is not intended to substitute for advice given by a physician or physiotherapist. </p>

<p> Contact your health-care provider immediately if these exercises cause any pain or discomfort whatsoever!</p>